# Importing data with `pandas`

This notebook introduces basic techniques in using Python for data analysis - specifically how to use  `pandas` to get data into your notebook in order to analyse it.

You can use different sections of the notebook to find code on the following, which you can then copy to your own notebook and adapt for the particular file/URL you are working with:

* [Importing CSV files](https://colab.research.google.com/drive/1TPKjZIcMSgDvadH5_slO8xiRnAODVV29#scrollTo=1fexF0GrDePs)
* [Importing Excel files](https://colab.research.google.com/drive/1TPKjZIcMSgDvadH5_slO8xiRnAODVV29#scrollTo=qrAreXx3yeSX)
* [Importing JSON](https://colab.research.google.com/drive/1TPKjZIcMSgDvadH5_slO8xiRnAODVV29#scrollTo=jBrhMqJKDqg_)
* [Importing from a URL](https://colab.research.google.com/drive/1TPKjZIcMSgDvadH5_slO8xiRnAODVV29#scrollTo=65rCbFiFXP2g)
* [Importing an entire Excel file (not just one sheet)](https://colab.research.google.com/drive/1TPKjZIcMSgDvadH5_slO8xiRnAODVV29#scrollTo=qTe7ANH54Z6m)
* [Importing from an ODS file](https://colab.research.google.com/drive/1TPKjZIcMSgDvadH5_slO8xiRnAODVV29#scrollTo=S5HWxqICxjHW)
* [Exporting data](https://colab.research.google.com/drive/1TPKjZIcMSgDvadH5_slO8xiRnAODVV29#scrollTo=YqRunamXVMXt)
* [Importing from GitHub](https://colab.research.google.com/drive/1TPKjZIcMSgDvadH5_slO8xiRnAODVV29#scrollTo=jsOTsPaqfJJd)
* [Looping through Excel sheets to import them and combine](https://colab.research.google.com/drive/1TPKjZIcMSgDvadH5_slO8xiRnAODVV29#scrollTo=wFGQTT5efsYO)
* [More functions for importing data](https://colab.research.google.com/drive/1TPKjZIcMSgDvadH5_slO8xiRnAODVV29#scrollTo=l5geK_86TzyL)

## A note about Google Colab and Google Drive

Before going any further it is important to understand the relationship between Google Colab notebooks and Google Drive.

Google Drive runs on a **different computer** (or 'server') to Google Colab.

This means that *Google Colab does not have access to data (or other files) in your Google Drive*.

If you want to get data into a Colab notebook you will need to do one of the following:

1. Upload the data file (CSV, XLSX etc) into the **Files** area on the left; or
2. Import the data file from a URL. The URL *must* point to a CSV/XLSX/JSON/ODS file, not a webpage of data.
3. Connect to your Google Drive and import from there. Instructions on how to do this are given below, but I would advise against this approach for reasons explained below.
4. Create the data manually, by typing or pasting the data in lists, then combining those into a dataframe

Another thing to remember is that each time you open a Colab notebook, it will connect to a **different computer**.

The computer will be basically empty.Any files that were in your Colab notebook before will not be there now. For this reason, it is important to **always export any data that you need before closing your Colab notebook**.

## Import the `pandas` library

First, we need to import the `pandas` library. This is pre-installed in Colab notebooks, so doesn't need installing - it only needs bringing in with the `import` command.

It's also quite common to rename the library when it's imported, as `pd`, like so:

In [ ]:
import pandas as pd

[The inverted pyramid of data journalism](https://onlinejournalismblog.com/2011/07/07/the-inverted-pyramid-of-data-journalism/) outlines 5 stages:

1. Compile
2. Clean
3. Combine
4. Context
5. Clean

And running throughout it: **question**.

Let's start with compiling in `pandas`.

## Compiling data: importing a CSV

The easiest way to compile data in a Colab notebook is to upload the data to the Files area on the left hand side of Colab. Once in the Files view, it can be brought into the notebook with the `read_csv()` function.

Colab already has a 'sample_data' folder in Files with 4 CSV files and a JSON file. We can import one of those to demonstrate:

In [ ]:
#import the CSV from the Files in Colab
caldata = pd.read_csv("sample_data/california_housing_test.csv")
#print the results
print(caldata)

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       -122.05     37.37                27.0       3885.0           661.0
1       -118.30     34.26                43.0       1510.0           310.0
2       -117.81     33.78                27.0       3589.0           507.0
3       -118.36     33.82                28.0         67.0            15.0
4       -119.67     36.33                19.0       1241.0           244.0
...         ...       ...                 ...          ...             ...
2995    -119.86     34.42                23.0       1450.0           642.0
2996    -118.14     34.06                27.0       5257.0          1082.0
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
0         1537.0       606.0         6.6085            344700.0
1          809.0       277.0         3.5990            176500.0
2         1484.0       495.0         5.7934            270500.0
3           49.0        11.0         6.1359            330000.0
4          850.0       237.0         2.9375             81700.0
...          ...         ...            ...                 ...
2995      1258.0       607.0         1.1790            225000.0
2996      3496.0      1036.0         3.3906            237200.0
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

[3000 rows x 9 columns]

## Importing Excel files

If your data is an Excel spreadsheet in .xlsx format you will need [pandas's `read_excel` function](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html).

I've downloaded an Excel spreadsheet on [*Operation of police powers under the Terrorism Act 2000, financial year ending March 2021*](https://www.gov.uk/government/statistics/operation-of-police-powers-under-the-terrorism-act-2000-financial-year-ending-march-2021) and then uploaded it to the Files area in Colab.

*Tip: once a file is in the Files area, you can click on the three dots next to the file and select **Copy path** to get the name of the file. It will begin with `/content/` because this is the complete path from the root of the computer, including any folders*

In [ ]:
terrdata = pd.read_excel("operation-police-powers-terrorism-mar2021-annual-tables.xlsx")
print(terrdata)

    Unnamed: 0                                         Unnamed: 1
0          NaN                                                NaN
1          NaN                                                NaN
2          NaN                                                NaN
3          NaN                                                NaN
4          NaN                                                NaN
5          NaN  Statistics on the operation of police powers u...
6          NaN             Year to March 2021: Annual Data Tables
7          NaN                                                NaN
8          NaN                                                NaN
9          NaN                                                NaN
10         NaN                                                NaN
11         NaN                                                NaN
12         NaN              Responsible Statistician: Daniel Shaw
13         NaN       Enquiries: CTAI_Statistics@homeoffice.gov.uk
14         NaN                            Published: 10 June 2021
15         NaN                             Crown copyright Â© 2021
16         NaN                                                NaN
17         NaN                                           Contents

### Specifying which sheet you want

Note that the spreadsheet has a bunch of `NaN` cells and unnamed columns. It's also imported the first sheet by default.

You can control these by adding extra parameters to the `read_excel()` function like so:

In [ ]:
terrdata = pd.read_excel("operation-police-powers-terrorism-mar2021-annual-tables.xlsx",
                         sheet_name = 3,
                         header=4)
print(terrdata)

                                           Unnamed: 0  ... Unnamed: 104
0                                 Period of detention  ...        Total
1                                                 NaN  ...          NaN
2                                         Under 1 day  ...          757
3                               1 to less than 2 days  ...          367
4                               2 to less than 3 days  ...           57
5                               3 to less than 4 days  ...          131
6                               4 to less than 5 days  ...          115
7                               5 to less than 6 days  ...          139
8                               6 to less than 7 days  ...          260
9                               7 to less than 8 days  ...           24
10                              8 to less than 9 days  ...           24
11                             9 to less than 10 days  ...           35
12                            10 to less than 11 days  ...           21
13                            11 to less than 12 days  ...           40
14                            12 to less than 13 days  ...           34
15                            13 to less than 14 days  ...           76
16                            14 to less than 15 days  ...            1
17                            15 to less than 16 days  ...            0
18                            16 to less than 17 days  ...            0
19                            17 to less than 18 days  ...            0
20                            18 to less than 19 days  ...            1
21                            19 to less than 20 days  ...            3
22                            20 to less than 21 days  ...            0
23                            21 to less than 22 days  ...            0
24                            22 to less than 23 days  ...            0
25                            23 to less than 24 days  ...            0
26                            24 to less than 25 days  ...            0
27                            25 to less than 26 days  ...            0
28                            26 to less than 27 days  ...            0
29                            27 to less than 28 days  ...            6
30                                              Total  ...         2091
31  Source: National Counter-Terrorism Police Oper...  ...          NaN
32                                                NaN  ...          NaN
33                                        ' - ' = Nil  ...          NaN
34                             ' * ' = Not applicable  ...          NaN
35  1.  Includes all detentions following an arres...  ...          NaN
36  2.  The 'other' category includes cautions for...  ...          NaN
37  3.  Data presented here are based on the lates...  ...          NaN
38  4.  Totals since 11 September 2001 include tho...  ...          NaN
39  5.  Figures for the year ending March 2002 inc...  ...          NaN

[40 rows x 105 columns]

### Other arguments/parameters

Note that:

* The first ingredient (argument) for `pd.read_excel(` is a string with the name of the spreadsheet, including .xlsx.
* The second argument is `sheet_name =` which is set to `3` meaning the fourth sheet (counting begins at 0 in Python)
* And the `skiprows =` argument is set to `5`, meaning that it will skip 5 rows and use row 6 for column headings.

Other arguments are [listed in the documentation](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html). Key ones to note are:

* `header = ` - which row to use for column headings
* `usecols = ` - which columns to keep. This can be column letter ranges as strings, e.g. `"A:E" or "A,C,E:F"`, or integers as a list, e.g. `[1:10]`
* `nrows = ` - the number of rows to import. For example you might only want to import the first 100 rows to begin with in a large dataset, or all the rows before any footnotes
* `skipfooter = ` is a similar argument which allows you to skip the last few rows by specifying how many rows at the end you want to leave out
* `parse_dates = ` - specify which columns you want to import as dates, e.g. `[2,3]`. Check the documentation for more information on how to combine columns (e.g. day, month, year) as a date

Here's an example of using more of those with our spreadsheet:

In [ ]:
#store the url first so you can see all the arguments below
theurlwewant = "operation-police-powers-terrorism-mar2021-annual-tables.xlsx"
#read that url and specify a sheet name, header row and footers to skip
terrdata = pd.read_excel(theurlwewant,
                         sheet_name = 3,
                         header = 5,
                         skipfooter=10)
print(terrdata)

        Period of detention Charged Released  ... Released.20 Other.20  Total.20
0                       NaN     NaN      NaN  ...         NaN      NaN       NaN
1               Under 1 day       4       22  ...       556.0     63.0     757.0
2     1 to less than 2 days       3       13  ...       257.0     26.0     367.0
3     2 to less than 3 days       1        0  ...        30.0      1.0      57.0
4     3 to less than 4 days       9        9  ...        56.0     16.0     131.0
5     4 to less than 5 days       9        3  ...        55.0      9.0     115.0
6     5 to less than 6 days       1        0  ...        52.0      6.0     139.0
7     6 to less than 7 days       7        4  ...        78.0      8.0     260.0
8     7 to less than 8 days       0        0  ...         8.0      5.0      24.0
9     8 to less than 9 days       0        0  ...         7.0      1.0      24.0
10   9 to less than 10 days       0        0  ...         9.0      2.0      35.0
11  10 to less than 11 days       0        0  ...        11.0      0.0      21.0
12  11 to less than 12 days       0        0  ...        12.0      0.0      40.0
13  12 to less than 13 days       0        0  ...         8.0      3.0      34.0
14  13 to less than 14 days       0        0  ...        14.0      7.0      76.0
15  14 to less than 15 days       *        *  ...         0.0      0.0       1.0
16  15 to less than 16 days       *        *  ...         0.0      0.0       0.0
17  16 to less than 17 days       *        *  ...         0.0      0.0       0.0
18  17 to less than 18 days       *        *  ...         0.0      0.0       0.0
19  18 to less than 19 days       *        *  ...         0.0      0.0       1.0
20  19 to less than 20 days       *        *  ...         0.0      0.0       3.0
21  20 to less than 21 days       *        *  ...         0.0      0.0       0.0
22  21 to less than 22 days       *        *  ...         0.0      0.0       0.0
23  22 to less than 23 days       *        *  ...         0.0      0.0       0.0
24  23 to less than 24 days       *        *  ...         0.0      0.0       0.0
25  24 to less than 25 days       *        *  ...         0.0      0.0       0.0
26  25 to less than 26 days       *        *  ...         0.0      0.0       0.0
27  26 to less than 27 days       *        *  ...         0.0      0.0       0.0
28  27 to less than 28 days       *        *  ...         3.0      0.0       6.0

[29 rows x 105 columns]

In [ ]:
terrdata = pd.read_excel("operation-police-powers-terrorism-mar2021-annual-tables.xlsx", sheet_name = 3, header = 5)
print(terrdata)

                                  Period of detention Charged  ... Other.20 Total.20
0                                                 NaN     NaN  ...      NaN      NaN
1                                         Under 1 day       4  ...     63.0    757.0
2                               1 to less than 2 days       3  ...     26.0    367.0
3                               2 to less than 3 days       1  ...      1.0     57.0
4                               3 to less than 4 days       9  ...     16.0    131.0
5                               4 to less than 5 days       9  ...      9.0    115.0
6                               5 to less than 6 days       1  ...      6.0    139.0
7                               6 to less than 7 days       7  ...      8.0    260.0
8                               7 to less than 8 days       0  ...      5.0     24.0
9                               8 to less than 9 days       0  ...      1.0     24.0
10                             9 to less than 10 days       0  ...      2.0     35.0
11                            10 to less than 11 days       0  ...      0.0     21.0
12                            11 to less than 12 days       0  ...      0.0     40.0
13                            12 to less than 13 days       0  ...      3.0     34.0
14                            13 to less than 14 days       0  ...      7.0     76.0
15                            14 to less than 15 days       *  ...      0.0      1.0
16                            15 to less than 16 days       *  ...      0.0      0.0
17                            16 to less than 17 days       *  ...      0.0      0.0
18                            17 to less than 18 days       *  ...      0.0      0.0
19                            18 to less than 19 days       *  ...      0.0      1.0
20                            19 to less than 20 days       *  ...      0.0      3.0
21                            20 to less than 21 days       *  ...      0.0      0.0
22                            21 to less than 22 days       *  ...      0.0      0.0
23                            22 to less than 23 days       *  ...      0.0      0.0
24                            23 to less than 24 days       *  ...      0.0      0.0
25                            24 to less than 25 days       *  ...      0.0      0.0
26                            25 to less than 26 days       *  ...      0.0      0.0
27                            26 to less than 27 days       *  ...      0.0      0.0
28                            27 to less than 28 days       *  ...      0.0      6.0
29                                              Total      34  ...    147.0   2091.0
30  Source: National Counter-Terrorism Police Oper...     NaN  ...      NaN      NaN
31                                                NaN     NaN  ...      NaN      NaN
32                                        ' - ' = Nil     NaN  ...      NaN      NaN
33                             ' * ' = Not applicable     NaN  ...      NaN      NaN
34  1.  Includes all detentions following an arres...     NaN  ...      NaN      NaN
35  2.  The 'other' category includes cautions for...     NaN  ...      NaN      NaN
36  3.  Data presented here are based on the lates...     NaN  ...      NaN      NaN
37  4.  Totals since 11 September 2001 include tho...     NaN  ...      NaN      NaN
38  5.  Figures for the year ending March 2002 inc...     NaN  ...      NaN      NaN

[39 rows x 105 columns]

## Importing JSON

Data in the JSON format can be imported using `read_json`. Below we import another piece of data in Colab's 'sample_data' folder:

In [ ]:
anscombe = pd.read_json("sample_data/anscombe.json")
print(anscombe)

   Series   X      Y
0       I  10   8.04
1       I   8   6.95
2       I  13   7.58
3       I   9   8.81
4       I  11   8.33
5       I  14   9.96
6       I   6   7.24
7       I   4   4.26
8       I  12  10.84
9       I   7   4.81
10      I   5   5.68
11     II  10   9.14
12     II   8   8.14
13     II  13   8.74
14     II   9   8.77
15     II  11   9.26
16     II  14   8.10
17     II   6   6.13
18     II   4   3.10
19     II  12   9.13
20     II   7   7.26
21     II   5   4.74
22    III  10   7.46
23    III   8   6.77
24    III  13  12.74
25    III   9   7.11
26    III  11   7.81
27    III  14   8.84
28    III   6   6.08
29    III   4   5.39
30    III  12   8.15
31    III   7   6.42
32    III   5   5.73
33     IV   8   6.58
34     IV   8   5.76
35     IV   8   7.71
36     IV   8   8.84
37     IV   8   8.47
38     IV   8   7.04
39     IV   8   5.25
40     IV  19  12.50
41     IV   8   5.56
42     IV   8   7.91
43     IV   8   6.89

## Importing from a URL

The same functions can also be used to import data an online source - you just need to use the URL of the file.

Below we import CSV [from a GitHub repo](https://github.com/BBC-Data-Unit/stalking_protection_orders). GitHub displays CSVs nicely as tables - but note that in order to get the link to the actual CSV *data* you need to click on the CSV link in GitHub and *then* click on **Raw**. The URL should start `raw.githubusercontent.com`.

In [ ]:
stalkingdata = pd.read_csv("https://raw.githubusercontent.com/BBC-Data-Unit/stalking_protection_orders/main/forsharing_stalking_protection_orders%20-%20Main_dataset.csv")
print(stalkingdata)

             Police force  ... charge_rate_apr20_dec20
0      Avon and Somerset   ...                      4%
1           Bedfordshire   ...                      4%
2         Cambridgeshire   ...                      9%
3               Cheshire   ...                      6%
4              Cleveland   ...                      8%
5                Cumbria   ...                      9%
6             Derbyshire   ...                      6%
7       Devon & Cornwall   ...                      8%
8                 Dorset   ...                      7%
9                 Durham   ...                      6%
10            Dyfed Powys  ...                      7%
11                 Essex   ...                      8%
12       Gloucestershire   ...                     11%
13    Greater Manchester   ...                 #DIV/0!
14                  Gwent  ...                     11%
15             Hampshire   ...                      6%
16         Hertfordshire   ...                      8%
17            Humberside   ...                      7%
18                  Kent   ...                      2%
19            Lancashire   ...                      5%
20        Leicestershire   ...                      3%
21          Lincolnshire   ...                      5%
22            Merseyside   ...                     17%
23  Metropolitan  Service  ...                      2%
24               Norfolk   ...                      6%
25            North Wales  ...                      5%
26       North Yorkshire   ...                   #REF!
27      Northamptonshire   ...                      5%
28           Northumbria   ...                      6%
29       Nottinghamshire   ...                     37%
30            South Wales  ...                      3%
31       South Yorkshire   ...                      3%
32         Staffordshire   ...                      3%
33               Suffolk   ...                     18%
34                Surrey   ...                     23%
35                Sussex   ...                      4%
36         Thames Valley   ...                      7%
37          Warwickshire   ...                     16%
38           West Mercia   ...                      7%
39         West Midlands   ...                      1%
40        West Yorkshire   ...                      0%
41             Wiltshire   ...                      0%

[42 rows x 16 columns]

The same process can be used to import Excel spreadsheets:

In [ ]:
xlslink = "https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/991988/operation-police-powers-terrorism-mar2021-annual-tables.xlsx"
terrdata = pd.read_excel(xlslink, sheet_name=3, header=5)

print(terrdata)

                                  Period of detention Charged  ... Other.20 Total.20
0                                                 NaN     NaN  ...      NaN      NaN
1                                         Under 1 day       4  ...     63.0    757.0
2                               1 to less than 2 days       3  ...     26.0    367.0
3                               2 to less than 3 days       1  ...      1.0     57.0
4                               3 to less than 4 days       9  ...     16.0    131.0
5                               4 to less than 5 days       9  ...      9.0    115.0
6                               5 to less than 6 days       1  ...      6.0    139.0
7                               6 to less than 7 days       7  ...      8.0    260.0
8                               7 to less than 8 days       0  ...      5.0     24.0
9                               8 to less than 9 days       0  ...      1.0     24.0
10                             9 to less than 10 days       0  ...      2.0     35.0
11                            10 to less than 11 days       0  ...      0.0     21.0
12                            11 to less than 12 days       0  ...      0.0     40.0
13                            12 to less than 13 days       0  ...      3.0     34.0
14                            13 to less than 14 days       0  ...      7.0     76.0
15                            14 to less than 15 days       *  ...      0.0      1.0
16                            15 to less than 16 days       *  ...      0.0      0.0
17                            16 to less than 17 days       *  ...      0.0      0.0
18                            17 to less than 18 days       *  ...      0.0      0.0
19                            18 to less than 19 days       *  ...      0.0      1.0
20                            19 to less than 20 days       *  ...      0.0      3.0
21                            20 to less than 21 days       *  ...      0.0      0.0
22                            21 to less than 22 days       *  ...      0.0      0.0
23                            22 to less than 23 days       *  ...      0.0      0.0
24                            23 to less than 24 days       *  ...      0.0      0.0
25                            24 to less than 25 days       *  ...      0.0      0.0
26                            25 to less than 26 days       *  ...      0.0      0.0
27                            26 to less than 27 days       *  ...      0.0      0.0
28                            27 to less than 28 days       *  ...      0.0      6.0
29                                              Total      34  ...    147.0   2091.0
30  Source: National Counter-Terrorism Police Oper...     NaN  ...      NaN      NaN
31                                                NaN     NaN  ...      NaN      NaN
32                                        ' - ' = Nil     NaN  ...      NaN      NaN
33                             ' * ' = Not applicable     NaN  ...      NaN      NaN
34  1.  Includes all detentions following an arres...     NaN  ...      NaN      NaN
35  2.  The 'other' category includes cautions for...     NaN  ...      NaN      NaN
36  3.  Data presented here are based on the lates...     NaN  ...      NaN      NaN
37  4.  Totals since 11 September 2001 include tho...     NaN  ...      NaN      NaN
38  5.  Figures for the year ending March 2002 inc...     NaN  ...      NaN      NaN

[39 rows x 105 columns]

## Importing an entire Excel file (not just one sheet)

You can also read an entire Excel file first in order to see what sheets it contains and select more than one sheet.

In [ ]:
importme = "https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/991988/operation-police-powers-terrorism-mar2021-annual-tables.xlsx"
xlfile = pd.ExcelFile(importme)
xlfile.sheet_names

['Front Page',
 'A - Index',
 'A - A.01',
 'A - A.02',
 'A - A.03',
 'A - A.04',
 'A - A.05a',
 'A - A.05b',
 'A - A.05c',
 'A - A.06a',
 'A - A.06b',
 'A - A.06c',
 'A - A.07',
 'A - A.08a',
 'A - A.08b',
 'A - A.08c',
 'A - A.09',
 'A - A.10',
 'A - A.11',
 'A - A.12a',
 'A - A.12b',
 'A - A.12c',
 'A C.01',
 'A C.02',
 'A C.03',
 'A C.04',
 'A C.05',
 'A P.01',
 'A P.02',
 'A P.03',
 'A P.04',
 'A P.05',
 'A P.06',
 'A S.01',
 'A S.02',
 'A S.03',
 'A S.04']

In [ ]:
#read in an Excel file
xlfile = pd.ExcelFile("https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/991988/operation-police-powers-terrorism-mar2021-annual-tables.xlsx")
#what are the sheet names?
print(xlfile.sheet_names)
#how many sheets
print(len(xlfile.sheet_names))

['Front Page', 'A - Index', 'A - A.01', 'A - A.02', 'A - A.03', 'A - A.04', 'A - A.05a', 'A - A.05b', 'A - A.05c', 'A - A.06a', 'A - A.06b', 'A - A.06c', 'A - A.07', 'A - A.08a', 'A - A.08b', 'A - A.08c', 'A - A.09', 'A - A.10', 'A - A.11', 'A - A.12a', 'A - A.12b', 'A - A.12c', 'A C.01', 'A C.02', 'A C.03', 'A C.04', 'A C.05', 'A P.01', 'A P.02', 'A P.03', 'A P.04', 'A P.05', 'A P.06', 'A S.01', 'A S.02', 'A S.03', 'A S.04']
37

If sheets contain the same data (e.g. a different sheet for each region, but the same columns) then this approach can be used to merge them, by looping through each sheet name you want to use.

## Importing from an ODS file

Public data is often published in the .ods format - this is an OpenDocument Spreadsheet. It's used because it's not 'proprietary' (i.e. owned by a company, like Microsoft)

However, there is no `read_ods` function or equivalent. Instead, we need to use `read_excel` and install something extra to make it work with this format.

Before we do that, here's what happens when we try to import from an .ods file using the 'normal' `read_excel()`:

In [ ]:
#try to import the ods file using read_excel
foidata = pd.read_excel("https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1017270/foi-statistics-q2-2021-statistical-tables.ods")

ImportError: ignored

### Installing `odfpy`

The error is a big clue to what you need to do to fix this.

It says `ImportError: Missing optional dependency 'odfpy'.  Use pip or conda to install odfpy.`

A 'dependency' is something else that a function *depends* on to be able to do something. In this case, the `read_excel()` function depends on another library being installed: [`odfpy`](https://pypi.org/project/odfpy/).

Here is the code to do just that:

In [ ]:
#install the library we need
!pip install odfpy

Collecting odfpy
  Downloading odfpy-1.4.1.tar.gz (717 kB)
     |ââââââââââââââââââââââââââââââââ| 717 kB 5.2 MB/s
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from odfpy) (0.7.1)
Building wheels for collected packages: odfpy
  Building wheel for odfpy (setup.py) ... done
  Created wheel for odfpy: filename=odfpy-1.4.1-py2.py3-none-any.whl size=160692 sha256=d2773608ca8ad7f8807dce92fe98da48b831a460b830543b1671d4e6d8f8c48e
  Stored in directory: /root/.cache/pip/wheels/e2/f4/5d/a68c656235d33455a1d0f78e877acddfa006907a6d52d7e6ee
Successfully built odfpy
Installing collected packages: odfpy
Successfully installed odfpy-1.4.1

Now to try the code again to see if the error recurs.

In [ ]:
#try to import again with the new library installed
foidata = pd.read_excel("https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1017270/foi-statistics-q2-2021-statistical-tables.ods")

Now the code no longer generates an error, and works fine. So let's check the first few rows of the data.

In [ ]:
#show the first few rows
foidata.head()

  Freedom of Information Statistics in Central Government Q2 2021 tables                                         Unnamed: 1
0                                                NaN                                                                    NaN
1                                        Worksheet 1                      Number of non-routine information requests rec...
2                                        Worksheet 2                      Number of non-routine information requests rec...
3                                        Worksheet 3                      Timeliness of response to non-routine informat...
4                                        Worksheet 4                      Percentage of non-routine information requests...

Unless we specify otherwise, `read_excel()` reads the first sheet in an Excel workbook.

We can now start to adapt our import code to grab the sheet we want, and skip and header rows etc.

In [ ]:
#import again - this time sheet 2
foidata = pd.read_excel("https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1017270/foi-statistics-q2-2021-statistical-tables.ods",
                        sheet_name = 2)
#show the first few rows
foidata.head()

  Worksheet 1: Number of non-routine information requests received from 1 April to 30 June 2021, and their status at time of monitoring [note 1]  ...                                  Unnamed: 5
0  This worksheet contains three tables presented...                                                                                              ...                                         NaN
1                            Table 1a: Total figures                                                                                              ...                                         NaN
2                                    Government body                                                                                              ...  Total requests handled under EIRs [note 3]
3                               All monitored bodies                                                                                              ...                                         557
4                               Departments of State                                                                                              ...                                         299

[5 rows x 6 columns]

## Exporting data

The same group of import/export functions can also be used to export data once you've finished doing analysis. These include

* `.to_csv()`
* `.to_excel()`
* `.to_json()`
* `.to_html()`
* `.to_xml()`

To use these, you need to put the name of a data frame *before* the period, and the name you want to give to the exported file as a **string** inside the parentheses. Like this:

In [ ]:
anscombe.to_csv("anscombe.csv")
anscombe.to_excel("anscombe.xlsx")
anscombe.to_json("anscombe.json")
anscombe.to_html("anscombe.html")

Once you run any of those commands you should see the resulting exported file in the Files view on the left in Colab. You can then download that file by hovering over it, clicking the three dots to the right, and selecting *Download*.

## Connecting to Google Drive to import data

You can connect your Colab notebook to Google Drive, in order to import files from there.

This might seem convenient, but there are two reasons not to do it:

Firstly, it is technically more fiddly than the approaches detailed above - especially if your data is in a Google Sheet (rather than a CSV or XLSX file stored in Drive).

Secondly, and more importantly, it makes your notebook difficult or impossible for others to replicate (they don't have access to your Drive) - which is one of the key advantages of notebooks.

If your data is in Google Drive, then, I would recommend doing one of the following:

* [Publish the spreadsheet as a CSV](https://afosto.com/docs/tutorial-publish-csv-online-from-google-sheets/) by going to *File > Share > Publish to the Web* and selecting *CSV* from the dropdown options. The data can now be imported from that URL using the steps detailed above.
* Or download the spreadsheet from Drive, and upload it to your notebook

If you do want to connect to Google Drive, however, here is some code that shows how to do that (adapted from [this guide](https://koshurai.medium.com/a-comprehensive-guide-to-connecting-google-drive-to-google-colab-e4cc9dcb239c)).

When you run the code below you will be asked to agree to allow the notebook to connect to your Google Drive account.

In [ ]:
#import the library needed
from google.colab import drive
#use the mount() function to connect to your Google Drive
#and create a folder in the notebook Files
drive.mount('/content/drive')

Mounted at /content/drive

### Accessing the data

Once that code has run, a new folder called `drive` should now exist inside the *Files* area on the left of the Colab notebook. Inside that will be a subfolder called `MyDrive` with *all* your Google Drive content.

You now have a new problem: how to connect to data within your Google Drive file structure.

To connect to any spreadsheet you'll first need to find it. That means going to the *Files* area on the left and navigating to the file that you want to import.

This can take a while: there is a time lag whenever you expand a folder, as it connects to your drive, and you may need to do a lot of scrolling if you have a lot of files that aren't organised.

Once you've found the file that you need, you will need to copy the **path** to that file.

To do that, hover over the file and click the three dots that appear. Then select **Copy path**.

With that path copied, paste it into a code block, making sure it is inside single or double quotation marks. It will start with `drive/MyDrive/`, e.g.

`"drive/MyDrive/yr2_analysis.csv"`

In [ ]:
#an example of a path to a CSV file stored in Google Drive
gdrivepath = 'drive/MyDrive/yr2_analysis.csv'

In [ ]:
#an example of a path to an XLSX file stored in Google Drive
gdrivepath = '/content/drive/MyDrive/22.xlsx'

If your file is a CSV or XLSX file, then it will end in that file extension (this will be the case if you have uploaded a file into Drive and not converted it to a Google Sheet).

However, if it is a Google Sheet, it will end in `.gsheet`, and you have another challenge.

### CSV files in Google Drive

If the file you are trying to fetch from Google Drive ends in .csv then you can import it with `read_csv()` as detailed in the section on importing CSV files earlier in this notebook.

That function needs one ingredient: the path to the CSV file.

Because we've stored the path to the file in a variable called `gdrivepath`, we just use that as the ingredient in the code below:

In [ ]:
#import a CSV file from the MyDrive folder
df = pd.read_csv(gdrivepath)
#show it
df

### XLSX files in Google Drive

If the file you are trying to fetch from Google Drive ends in .xlsx then you can import it using `read_excel()` as detailed in the section on importing XLSX files earlier in this notebook.

That function needs *at least* one ingredient - the path to the XLSX file - but by default it will import the first sheet in that XLSX file, so there's a good chance you will need a second ingredient: *which* sheet you want to import from that Excel file. That is identified with the parameter `sheet_name =`.

Because we've stored the path to the file in a variable called `gdrivepath`, we just use that as the first ingredient in the code below:

For the second ingredient, we've specified we want the 'zero' sheet - this means the first sheet, because Python counts from zero. So if you wanted the second sheet, that would sheet number 1, and the third sheet would be sheet number 2 and so on.

In [ ]:
#import an Excel file from the MyDrive folder, sheet 1 (position 0)
df = pd.read_excel(gdrivepath,
                   sheet_name = 0)
#show it
df

### Google Sheets in Google Drive

Now the tricky bit (and you're probably already regretting taking this route, but let's follow it to the end): importing Google Sheets.

To do this we need a special library: `gspread`. The documentation for that library is at https://docs.gspread.org/en/v6.1.4/

A [notebook on working with Google Sheets is available here](https://colab.research.google.com/notebooks/io.ipynb#scrollTo=sOm9PFrT8mGG) (go to the section on Google Sheets. This requires authorising with Google Drive *again*, but in a different way. The code below is adapted from that:

In [ ]:
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

The code below will open the first sheet in a spreadsheet - give it the name of your Google Sheet, without any file extensions and without any path. Change `.sheet1` to another sheet number to import a different sheet.

In [ ]:
#import sheet 1 from the named Google Sheet
worksheet = gc.open('NAME OF YOUR SHEET').sheet1
# get_all_values gives a list of rows.
rows = worksheet.get_all_values()
#create a dataframe from those rows
df = pd.DataFrame.from_records(rows)
#show the dataframe
df

### Disconnect from Google Drive

To disconnect from Google Drive, run the code below.

In [ ]:
#disconnect from Google Drive
drive.flush_and_unmount()

## Importing from GitHub

We can import some data from GitHub using the 'Raw' link on [the data file page](https://github.com/paulbradshaw/cleaning/blob/master/dirtydata/Disposals%20by%20region%202012-13%20Table.xls) - but we get an error.

In [ ]:
githublink = "https://github.com/paulbradshaw/cleaning/blob/master/dirtydata/Disposals%20by%20region%202012-13%20Table.xls?raw=true"
disposals = pd.ExcelFile(githublink)

XLRDError: ignored

Some googling finds a [solution](https://stackoverflow.com/questions/66648775/how-to-get-link-of-xlsx-file-in-github-to-be-opened-as-a-pandas-dataframe) involving a couple other libraries.

In [ ]:
url = "https://github.com/paulbradshaw/cleaning/blob/master/dirtydata/Disposals%20by%20region%202012-13%20Table.xls?raw=true"

import requests as rq
from io import BytesIO

data = rq.get(url).content
disposals = pd.ExcelFile(BytesIO(data))

In [ ]:
#https://stackoverflow.com/questions/66648775/how-to-get-link-of-xlsx-file-in-github-to-be-opened-as-a-pandas-dataframe
import requests as rq
from io import BytesIO

url = "https://github.com/paulbradshaw/cleaning/blob/master/dirtydata/Disposals%20by%20region%202012-13%20Table.xls?raw=true"
data = rq.get(url).content
disposals = pd.ExcelFile(BytesIO(data))

#what are the sheet names?
print(disposals.sheet_names)

['National', 'East Midlands', 'Eastern', 'London', 'North East', 'North West', 'South East', 'South West', 'Wales', 'West Midlands', 'Yorkshire']

## Looping through Excel sheets to import them and combine

This particular spreadsheet has a different sheet for each area. Here's how we might combine them all into one dataframe:

First, we use `read_excel()` with that variable containing the Excel spreadsheet, and specify the first sheet (index 0).

In [ ]:
#import the first sheet
dis1 = pd.read_excel(disposals, sheet_name=0, skiprows=1)
dis1.head()

  These figures do not match the data published in Chapter 5 as they are taken from a different data source.  ...    TOTAL
0                                           National                                                          ...      NaN
1                                                NaN                                                          ...      NaN
2                                         Pre-court                                                           ...      NaN
3                                          Reprimand                                                          ...  13055.0
4                                      Final Warning                                                          ...  10949.0

[5 rows x 17 columns]

We can rename the columns before we continue, to fix that annoying long first column name.

To do this we first have to convert the column names 'series' into a list, using the `list()` function.

We then change the first item in that list to what we want it to be.

Finally, we replace the existing column 'series' with that newly corrected list:

In [ ]:
#create a new list variable from the column names
cols = list(dis1.columns)
#replace the first item in that list with 'area'
cols[0] = "area"
#replace the column names with the correct list
dis1.columns = cols

In [ ]:
#check the results
dis1.head(3)

         area  10 - 14  15  ...  Chinese or Other Ethnic Group  Not Known.1  TOTAL
0    National      NaN NaN  ...                            NaN          NaN    NaN
1         NaN      NaN NaN  ...                            NaN          NaN    NaN
2  Pre-court       NaN NaN  ...                            NaN          NaN    NaN

[3 rows x 17 columns]

Now we've fixed that annoyance we can go back to creating our mega-dataframe from all the sheets.

To do that we need to loop through the list of sheet names and use each name to grab each sheet with that name - appending it to the dataframe containing the data from sheet 1.

We start by creating a copy of our sheet 1 dataframe called 'disposalsall' - this is going to be used to *append* all the other sheets to this base.

It will be helpful to *also* store the name of the sheet that the data came from, in a new extra column.

The 'i' in the loop below is just a variable name that's used to store each item in the list as we loop through it.

That variable 'i' is used in a couple of different ways: to access the sheet of the same name in the Excel workbook; and to fill a column called 'sheet' in our dataframe.

In [ ]:
#create a dataframe that's a copy of sheet index 0
disposalsall = dis1
#add a column for the sheet it came from
disposalsall['sheet'] = "National"

#loop through the sheet names from index 1 onwards
for i in disposals.sheet_names[1:]:
  print(i)
  #grab the sheet at that position
  currentsheet = pd.read_excel(disposals, sheet_name=i, skiprows=1)
  #add a column for the sheet it came from
  currentsheet['sheet'] = i
  #add to the ongoing dataframe
  disposalsall = disposalsall.append(currentsheet)

East Midlands
Eastern
London
North East
North West
South East
South West
Wales
West Midlands
Yorkshire

In [ ]:
#show how many rows and cols the one-sheet dataframe has
print(dis1.shape)
#and the combined dataframe
print(disposalsall.shape)

(352, 18)
(5792, 19)

An alternative approach would be to measure the *length* of the sheet list and use that to generate indices for `sheet_name=` instead of the actual sheet name.

In [ ]:
disposalsall.dtypes

area                              object
10 - 14                          float64
15                               float64
16                               float64
17+                              float64
Unnamed: 5                       float64
Female                           float64
Male                             float64
Not Known                        float64
Unnamed: 9                       float64
White                            float64
Mixed                            float64
Asian or Asian British           float64
Black or Black British           float64
Chinese or Other Ethnic Group    float64
Not Known.1                      float64
TOTAL                            float64
sheet                             object
Unnamed: 0                        object
dtype: object

In [ ]:
#export the results
disposalsall.to_csv("alldisposals.csv")

## More functions for importing data

More functions for importing data are detailed on pandas's [documentation on import/export](https://pandas.pydata.org/docs/reference/io.html)

[This post also details a range of other ways to import data](https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92)